.btn-primary {
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
  color: #FFFFFF !important;
}

.btn-success {
  background-color: #1c84c6 !important;
  border-color: #1c84c6 !important;
  color: #FFFFFF !important;
}

.btn-danger {
  background-color: #ED5565 !important;
  border-color: #ED5565 !important;
  color: #FFFFFF !important;
}