.dashboard {
  padding: 0 0 !important;
  margin: 0 0 !important;
  border-bottom: 1px solid $grey;
}

.dashboard__sidenav {
  padding: 0 0 !important;
  margin: 0 0 !important;
}

.dashboard__main {
  padding: 0 0 !important;
  margin: 0 0 !important;
  border-left: 1px solid $grey;
}

.dashboard__content {
  margin: 2rem;
}