.header {
  background: $header-bg;
  color: $header-color;
  border-radius: 0;
  min-height: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.header__user {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}

.header__user-avatar {
  max-height: 3.3rem;
  max-width: 3.3rem;
  align-self: center;
}

.header__user-name {
  align-self: center;
  padding-left: 0.75rem;
}
