.header {
  background: $header-bg !important;
  color: $header-color !important;
  border-radius: 0 !important;
  min-height: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.header__user {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;

  i {
    margin: 0 $space; // TODO: Repeated in sidenav.css (extract?)
  }
}

.header__user-avatar {
  max-height: 3.3rem;
  max-width: 3.3rem;
  align-self: center;
}

.header__user-name {
  align-self: center;
  padding-left: 0.75rem;
}
