.sidenav {
  
}

.sidenav__logo {
  width: 100%;
  text-align: center;
  padding-bottom: $space;
  border-bottom: 1px solid $grey;

  img {
    margin-top: $space;
    max-width: 40%;
  }
}

.sidenav__menu {
  button{
    margin-top: 0 !important;
    padding: $space !important;
    text-align: left;
    color: #000;
    transition: background-color ease .25s;
  }

  button:hover {
    text-decoration: none;
    background-color: $grey;
  }

  i {
    margin: 0 $space;
  }
}